.bloquetitulo{
  background-image: url("../../assets/testimonios/fondo_testimonios.png")
}
.bloquee_gris{
  background: #363636;
    padding: 5px;
    border-radius: 14px;
    color: white;
    margin: 15px;
    padding: 15px;
}
.menu_bottom{
  display: block;
}
