<ion-header >

  <ion-toolbar class="encabezado">

    <ion-img routerLink="/principal" src="assets/logotop.png" class="logotop_center" ></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <ion-grid>
    <ion-row>
      <ion-col class="bloquetitulo"  >



      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="bloquee_gris" [innerHTML]="titulo  "></div>

      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>





        <ion-slides [options]="{ slidesPerView: true, loop: true }" >

                <ion-slide *ngFor="let item of body; let i = index" [attr.data-index]="i"   >
                <div [innerHTML]="item"></div>
                </ion-slide>

        </ion-slides>

      </ion-col>
    </ion-row>


    <ion-row>

      <ion-col>
        <a href="" target="_blank" style="text-decoration: none;"> <div class="btn_verde"> Compartir Video</div></a>

      </ion-col>
    </ion-row>

  </ion-grid>


  <div class="menu_bottom">

      <div class="dos_columnas">
        <a href="" target="_blank"><ion-img src="assets/hacer-26.png"  class="margen10botton"  style="
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    " ></ion-img></a>
      </div>
      <div class="dos_columnas">
        <ion-img src="assets/hacer-25.png"  class="margen10botton" style="
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    " ></ion-img>
      </div>
  </div>
</ion-content>
