.tituloverde{
  color: #27C1A1;
  text-align: center;
  margin-bottom: 10px;
  font-family: "RobotoCondensed-Bold";
}
.texto{
  font-family: "RobotoCondensed-Light";
}

.negrilla{
  font-family: "RobotoCondensed-Bold";
}
.texto1{
  margin-bottom: 10px;
  text-align: center;
}
