<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Contacto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="saveForm()">
      <ion-item>
        <ion-label class="label" position="floating">Nombre</ion-label>
        <ion-input
          class="controls"
          formControlName="name"
          type="text"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="label" position="floating">Número</ion-label>
        <ion-input
          class="controls"
          formControlName="number"
          type="text"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="label" position="floating">Mensaje</ion-label>
        <ion-input class="controls" formControlName="sms" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <button type="submit" class="continuar">Actualizar</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
