<ion-header>
  <ion-toolbar class="encabezado">
    <ion-img routerLink="/principal" src="assets/logotop.png" class="logotop_center"></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content :fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col class="bloquetitulo"  >{{testTile}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <div class="btn_verde" size="small" (click)="showAlertComoUsar()" icon-end>
          Como usar
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <div class="preg" id="preg" name="preg">{{pregunta}}</div>
          <form name="fo" (submit)="getPregunta()">
            <div id="output" name="output" class="main">
              <input
                type="hidden"
                id="qnumber"
                name="qnumber"
                [(ngModel)]="qnumber"
              />
              <input
                type="hidden"
                id="qorden"
                name="qorden"
                [(ngModel)]="qorden"
              />
              <input
                type="hidden"
                id="qsuma"
                name="qsuma"
                [(ngModel)]="qsuma"
              />
              <ion-list radio-group class="lista_opciones">
                <div class="controls" *ngFor="let o of this.s_opciones">
                  <ion-item class="item-background-color">
                    <ion-label class="opciones">{{o.opcion}}</ion-label>
                    <ion-radio
                      [(ngModel)]="qresp"
                      name="qresp"
                      id="{{ o.id }}"
                      value="{{o.valor}}"
                      (click)="guardarRespuesta(o.valor)"
                      checked="false"
                      ngDefaultControl
                    ></ion-radio>
                  </ion-item>
                </div>
              </ion-list>

              <div id="puntuacion" name="puntuacion">{{mensaje}}</div>
              <input
                type="hidden"
                id="dchange"
                name="dchange"
                [(ngModel)]="dchange"
              />
              <br />
              <div class="btn_siguiente" expand="block" (click)="getPregunta()"
                >{{btnAccion}}</div
              >
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="menu_bottom">

    <div class="dos_columnas">
      <ion-img src="assets/hacer-26.png"  class="margen10botton"  style="
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  " ></ion-img>
    </div>
    <div class="dos_columnas">
      <ion-img src="assets/hacer-25.png"  class="margen10botton" style="
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  " ></ion-img>
    </div>
</div>
</ion-content>
