.bloquetitulo {
  background-image: url("../../assets/test/emcabezado_trabajo.png");
  font-family: "RobotoCondensed-BoldItalic";
  color: #27c1a1;
  font-size: 19px;
  text-align: right;
  padding-left: 40%;
  margin-right: 10px;
}
.item-background-color {
  --ion-item-background: #2c2c2c;
}
.btn_verde {
  margin-bottom: 40px;
}
.menu_bottom {
  display: block;
}
.controls,
.opciones,
.item-fill,
.lista_opciones {
  color: #ffffff;
  background: #2c2c2c;
}
