.bloquetitulo{
  background-image: url("../../assets/test/emcabezado_independiente.png");
  font-family: "RobotoCondensed-BoldItalic";
  color: #27C1A1;
    font-size: 23px;
    text-align: right;
    padding-left: 40%;
}
.btn_verde{
  margin-bottom: 40px;}
  .menu_bottom{
    display: block;
  }
  .controls, .opciones, .item-fill, .lista_opciones
  {

    color: #ffffff;
      background: #2C2C2C;
  }
