.imgen_intro{
  height: 100vh;
  object-fit: cover;
  width: 100vw;
}

.menus_intro{

  z-index: 1000;
  position: absolute;
  bottom: 5vh;
    left: 5vw;
}

.banner_top
{
  background-color: white;
  bottom: 0vh;
  position: absolute;
  height: 13vh;
}

.fila_continuar{
  display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100vw;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal
{
  bottom: 19vh !important;

}
.swiper{
  --bullet-background-active: #e1e2e5;
}
.text{

  color: white;
  font-size: 18px;
  padding-left: 20vw;
  line-height: 20px;
  margin-top: 25px;
}
.continuar{
  color: white;
  padding: 4px;
  background-color: #27C1A1;
  font-family: "RobotoCondensed-BoldItalic";
    bottom: 11vh;

    margin-right: 10px;
    margin-left: 10px;
    width: auto;
    display: initial;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
    border-radius: 14px;
    text-align: center;
}


.logotop {
  width: 25vw;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  z-index: 100;
}

.juntos
{
  font-family: "RobotoCondensed-BoldItalic";
  color: #27C1A1;
  position: absolute;
  width: 100vw;
  text-align: right;
  padding-right: 10vw;
  font-size: 50px;
  line-height: 40px;
  text-shadow: 2px 2px 2px #323236;
  top: 40vh;

}

  .menu_bottom {
    z-index: 1000;
    position: relative;
    margin-bottom: 10px;
    display: contents;
    width: 100vw;
    float: left;
}

.marco_intro{

  width: 100vw;
  position: absolute;
  height: auto;
  top: 0px;
  display: contents;
}

