

<ion-content>

  <ion-img src="assets/logotop.png" class="logotop"></ion-img>
  <swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
    <ng-template swiperSlide><ion-img src="assets/splash1.png" class="imgen_intro" ></ion-img></ng-template>
    <ng-template swiperSlide><ion-img src="assets/splash2.png" class="imgen_intro" ></ion-img></ng-template>
    <ng-template swiperSlide><ion-img src="assets/splash3.png" class="imgen_intro" ></ion-img></ng-template>
  </swiper>
  <div class="menus_intro">menu principal</div>
</ion-content>


