<ion-header >

  <ion-toolbar class="encabezado">

    <ion-img routerLink="/principal" src="assets/logotop.png" class="logotop_center" ></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <ion-grid>
    <ion-row>
      <ion-col class="bloquetitulo"  >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img routerLink="../refugio"  src="assets/casas.png"  class="margen10botton"  ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img   routerLink="../integral" src="assets/apoyo/integral.png"  class="margen10botton"  ></ion-img>
      </ion-col>

    </ion-row>
  </ion-grid>


  <div class="menu_bottom">

      <div class="dos_columnas">
        <a href="tel:911">
        <ion-img src="assets/hacer-26.png"  class="margen10botton"  style="
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    " ></ion-img></a>
      </div>
      <div class="dos_columnas">
        <ion-img routerLink="/send-sms" src="assets/hacer-25.png"  class="margen10botton" style="
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    " ></ion-img>
      </div>
  </div>
</ion-content>
