<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu  side="end" menuId="main-menu"   contentId="main-content" type="overlay"      >
      <ion-content class="bordes"   >
        <ion-list id="inbox-list">
          <ion-list-header   >

            <ion-img src="assets/logomenu.png"  class="margen10botton"  ></ion-img>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false"  lines="none" >
              <ion-item  routerLink="principal"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start" name="home-outline"></ion-icon>
                <ion-label>Inicio</ion-label>
              </ion-item>


              <ion-item  routerLink="acerca"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start" name="person-outline"></ion-icon>
                <ion-label>Acerca de Junt@s
                </ion-label>
              </ion-item>

              <ion-item  routerLink="test"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start" name="list-outline"></ion-icon>
                <ion-label>Test de violencia
                </ion-label>
              </ion-item>

              <ion-item  routerLink="Acerca"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start" name="help-circle-outline"></ion-icon>

                <ion-label>¿Qué puedo hacer?
                </ion-label>
              </ion-item>

              <ion-item  routerLink="Acerca"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start" name="accessibility-outline"></ion-icon>
                <ion-label>Busca apoyo
                </ion-label>
              </ion-item>

              <ion-item  routerLink="Acerca"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start"  name="chatbubble-ellipses-outline"></ion-icon>
                <ion-label>Testimonios
                </ion-label>
              </ion-item>

              <ion-item  routerLink="Acerca"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start"  name="id-card-outline"></ion-icon>
                <ion-label>Contactos de emergencia
                </ion-label>
              </ion-item>

              <ion-item  routerLink="Acerca"  lines="none"  detail="false" routerLinkActive="selected">
                <ion-icon slot="start" name="pin-outline"></ion-icon>
                <ion-label>Agencias Fiscalía
                </ion-label>
              </ion-item>

         </ion-menu-toggle>


        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header> </ion-list-header>
          <ion-item  routerLink="intro"  lines="none"  detail="false" routerLinkActive="selected">
            <ion-icon slot="start" name="ellipsis-horizontal-outline"></ion-icon>
            <ion-label>Intro
            </ion-label>
          </ion-item>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
