.descipcion{

  background-color: #2C2C2C;
  color: white;
  font-family: "Uni_Sans";
  padding: 10px;
    border-radius: 14px;
    text-align: center;
}

.bloquetitulo
{
  background-image: url("../../../assets/apoyo/integral_header.png")
}

.fila{

  width: 100%;
}

.titulo{
  text-align: center;
  font-family: "Uni_Sans";
  color: #27C1A1;
  font-size: 14px;
}

