.descipcion{

  background-color: #2C2C2C;
  color: white;
  font-family: "Uni_Sans";
  padding: 10px;
    border-radius: 14px;
    text-align: center;
}

.titulo{
  text-align: center;
  font-family: "Uni_Sans";
  color: #27C1A1;
  font-size: 14px;
}

