<ion-header>
  <ion-toolbar class="encabezado">
    <ion-img
      routerLink="/principal"
      src="assets/logotop.png"
      class="logotop_center"
    ></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content :fullscreen="true">
  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número</ion-label>
        <ion-input formControlName="number" type="text" required> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mensaje</ion-label>
        <ion-input formControlName="sms" type="text" required> </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
  <ion-list>
    <ion-list-header> Contactos </ion-list-header>
    <ion-item lines="inset" *ngFor="let data of Data" class="contactRecord">
      <ion-label >
        <h5>{{data.displayName}}</h5>
        <p>{{data.phoneNumber}}</p>
        <p>{{data.sms}}</p>
      </ion-label>
      <div class="item-note" item-end>
        <ion-icon
          name="create"
          style="zoom: 2"
          [routerLink]="['/contacto/', data.id]"
        ></ion-icon>
        <ion-icon
          name="trash"
          style="zoom: 2"
          (click)="deleteContacto(data.id)"
        ></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
