<ion-header>
  <ion-toolbar class="encabezado">
    <ion-img
      routerLink="/principal"
      src="assets/logotop.png"
      class="logotop_center"
    ></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content :fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col
        class="bloquetitulo"
        style="background-image: url({{imagenprincial}});"
      >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="box">
        <div class="texto texto1" [innerHTML]="body"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="btn_siguiente" expand="block" (click)="misContactos()">
        Mis contactos
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
