<ion-header>
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="cnt">
      <ion-grid>
          <ion-row>
              <ion-col col-2>
              </ion-col>
              <ion-col col-8 text-center>
                  <button ion-button icon-start outline (click)="ingresarContacto()" round color="light">
                      <ion-icon name="ios-person-add-outline"></ion-icon>Nuevo Contacto
                     </button>
              </ion-col>
              <ion-col col-2>
                  <button ion-button icon-only outline color="light" (click)="ordenando=!ordenando" end>
                      <ion-icon name="ios-reorder-outline"></ion-icon>
                    </button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>

  <ion-list [reorder]="ordenando" (ionItemReorder)="reordenar_contactos( $event )">
      <ion-item-sliding *ngFor="let datosContacto of this.pContactos.listaDeContactos; let i=index">
          <ion-item>
              <h2>Contacto: {{datosContacto.displayName}}</h2>
              <h3>Número: {{datosContacto.phoneNumber}}</h3>
              <p>Mensaje: {{datosContacto.sms}}</p>
          </ion-item>
          <ion-item-options side="right">
              <button ion-button icon-only color="danger" expandable (click)="eliminar(i,datosContacto.id)">
                      <ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>

</ion-content>
