<ion-header >

  <ion-toolbar class="encabezado">

    <ion-img src="assets/logotop.png" class="logotop_center" ></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img routerLink="/acerca"  src="assets/menu1.png"  class="margen10botton"  ></ion-img>
        <ion-img routerLink="/hacer" src="assets/principal/p-23.png"  class="margen10botton"  ></ion-img>
        <ion-img routerLink="/Testimonios" src="assets/principal/p-22.png"  class="margen10botton"  ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img  routerLink="/test" src="assets/principal/p-19.png"  class="margen10botton"  ></ion-img>
        <ion-img routerLink="/apoyo" src="assets/principal/p-20.png"  class="margen10botton"  ></ion-img>
        <ion-img routerLink="/Contactos" src="assets/principal/p-21.png"  class="margen10botton"  ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
