#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header{
  background-color:#2C2C2C;
}

.acerca{
    background: url(../../assets/acerca.png) no-repeat center center / cover;
    position: absolute;
    top: 0px;
    bottom: 0px;

    height: 100vh;
    display: table;
}
.titulo{
  color: #fff;
   font-family: 'RobotoCondensed-BoldItalic';
   font-size: xx-large;
}
.titulo1{
  padding-left: 50%;
  text-align: right;
  float: right;
}

.titulo2{
  padding-right: 50%;
  text-align: left;
  float: left;
}
.filabootom{
       color: white;
    align-items: stretch;
    padding: 8vw;
    align-content: start;
    padding-top: 10vh;
    height: 50vh;
    padding-bottom: 0px;
}
.texto{
  color: #fff;
  font-family: 'Uni_Sans';
  font-size: 13px;
}
.filatop{
  height: 50vh;
    text-align: right;
    color: white;
    align-items: stretch;
    padding: 8vw;
    display: grid;
    align-content: end;
    padding-bottom: 5vh;

}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
.acerca_fondo
{

    background: url(../../assets/acerca.png);
        background-size: 100%, 100%;
    width: 100vw !important;
    background-position: center;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}




