<ion-header>
  <ion-toolbar class="encabezado">

    <ion-img src="assets/logotop.png" class="logotop_center" ></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content :fullscreen="true">
  <div class="filatop">
      <div class="titulo">¿Acerca <br>  de Junt@s?</div>
      <div class="texto">"Junt@s es una herramienta informática dirigida principalmente
          a mujeres que sufren de violencia de género;también está destinada a
          cualquier persona que detecte en su entorno una posible situación de
          violencia de género y a toda persona interesada en general.
      </div>
  </div>
  <div class="filabootom">
      <div class="titulo">Objetivos  <br> prioritarios</div>
      <div style="width: 50%;float: left;">
        <div class="texto">Detectar los primeros signos de
          violencia de género.  <br> <br>
          Informar sobre los recursos que
          existen para las mujeres que sufren
          violencia.
        </div>
      </div>
      <div style="width: 50%;float: left;">
        <div class="texto">
          Informar sobre las medidas que pueden
          adoptar para su autoprotección. <br> <br>

          Fortalecer a las mujeres para que puedan
          romper el silencio y salir del círculo de la
          violencia de género.

      </div>
      </div>


  </div>
  <div class="actions">


        <div class="botn"><a href="/911/"><img src="assets/911.png" style="height: 35px;text-align: center;"></a></div>

          <div class="botn">
            <a href="/911/"><img src="assets/ayuda.png" style="height: 35px;text-align: center;"></a>
          </div>




  </div>

  </ion-content>
