.tituloverde{
  color: #27C1A1;
  text-align: center;
  margin-bottom: 10px;
  font-family: "RobotoCondensed-Bold";
}
.texto{
  font-family: "RobotoCondensed-Light";
}
.bloquetitulo{

  background-position-x: left;
}
.bloquetitulo
{
  background-image: url("../../../assets/amigos/amigos.png")
}
