<ion-header>
  <ion-toolbar class="encabezado">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-img
      routerLink="/principal"
      src="assets/logotop.png"
      class="logotop_center"
    ></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content :fullscreen="true">
  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modal" (click)="newContact()" class="fabBtn">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-modal trigger="open-modal">
          <!--(willDismiss)="onWillDismiss($event)"   >-->
          <ng-template>
            <ion-header>
              <ion-toolbar class="modalHeader">
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>
                <ion-title>Nuevo Contacto</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-list lines="full">
                <form [formGroup]="mainForm" (ngSubmit)="storeData()">
                  <ion-item>
                    <ion-label class="label" position="floating"
                      >Nombre</ion-label
                    >
                    <ion-input
                      class="controls"
                      formControlName="name"
                      type="text"
                      required
                    ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label class="label" position="floating"
                      >Número</ion-label
                    >
                    <ion-input
                      class="controls"
                      formControlName="number"
                      type="text"
                      required
                    >
                    </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label class="label" position="floating"
                      >Mensaje</ion-label
                    >
                    <ion-input
                      class="controls"
                      formControlName="sms"
                      type="text"
                      required
                    >
                    </ion-input>
                  </ion-item>
                  <ion-row>
                    <ion-col>
                      <button type="submit" class="continuar">Guardar</button>
                    </ion-col>
                  </ion-row>
                </form>
              </ion-list>

              <ion-list lines="full">
                <ion-list-header>
                  <ion-label>Contactos</ion-label>
                </ion-list-header>
                <ion-toolbar>
                  <ion-title color="light" class="contactName"
                    >Importar Contacto</ion-title
                  >
                  <ion-buttons slot="end">
                    <ion-button
                      type="button"
                      (click)="getContacts()"
                      class="colorBtn"
                      ><ion-icon name="refresh-outline"></ion-icon
                    ></ion-button>
                  </ion-buttons>
                </ion-toolbar>

                <ion-item-sliding *ngFor="let contact of contacts | async">
                  <ion-item>
                    <ion-icon
                      *ngIf="!contact.image"
                      color="primary"
                      slot="start"
                      name="person-circle-outline"
                    ></ion-icon>
                    <ion-avatar *ngIf="contact.image" slot="start">
                      <ion-img [src]="contact.image.base64String"></ion-img>
                    </ion-avatar>
                    <ion-label class="ion-text-wrap">
                      <ion-label class="contactName">
                        {{contact.name.display}}
                      </ion-label>
                      <ion-text color="medium" class="contactNumber">
                        <p>{{contact.phones[0].number}}</p>
                      </ion-text>
                    </ion-label>

                    <button
                      type="button"
                      (click)="seleccionarContacto(contact)"
                      class="colorBtn"
                    >
                      <ion-icon name="checkmark-outline"></ion-icon>
                    </button>
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header class="titulo"> Contactos </ion-list-header>
          <ion-item lines="inset" *ngFor="let data of Data" class="contactItem">
            <ion-label>
              <h5 class="contactName">{{data.name}}</h5>
              <p class="contactNumber">{{data.number}}</p>
              <p class="contactSms">{{data.sms}}</p>
            </ion-label>
            <div class="item-note" item-end>
              <ion-icon
                name="create"
                style="zoom: 2"
                [routerLink]="['/contacto/', data.id]"
              ></ion-icon>
              <ion-icon
                name="trash"
                style="zoom: 2"
                (click)="deleteContacto(data.id)"
              ></ion-icon>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
