


  .bloquetitulo{
    background-image: url("../../assets/test/emcabezado_violento.png");
    font-family: "RobotoCondensed-BoldItalic";
    color: #27C1A1;
      font-size: 23px;
      text-align: right;
      padding-left: 40%;
  }

  .btn_verde{
    margin-bottom: 40px;}

    .lista_opciones {
background-color: #2C2C2C;

    }
