/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//swiper
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';
.encabezado{
  --background: #303031;
  --color: #ffffff;
}

.logotop{

width: 50px;
margin-left: 10px;
margin-top: 10px;
position: absolute;
z-index: 100;

}

.menu-icon {
  padding:10px !important;
  border-radius: 0 !important;
   color:#27BB9B !important;
}
ion-menu-button{
 --color:#27BB9B !important;
  color:#27BB9B !important;
}

ion-menu-buttons{
 --color:#27BB9B !important;
  color:#27BB9B !important;
}

.ios-button{
 color:#27BB9B !important;
}



ion-content{

  --ion-background-color:#202020;

}

.bordes{


  --border-radius: 21px 0px 0px 21px!important;
  --box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
}
ion-menu{

border: 0px;
border-radius: 21px 0px 0px 21px!important;
--ion-background-color:#242425;

--box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59)!important;
}
 ion-menu  ion-content{


  --ion-background-color:#202020;
  --box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59)!important;

border-radius: 38px 0px 0px 0px!important;

border: 24px solid #202020;

}
